<% if @user.valid? %>
  $('#reg_form').hide().append('<h5>Congrats! You are now a member. Have a nice day. </h5>').slideUp('slow');
  $('#reg_form').fadeOut(2000);
  $('#nav').empty().append('<%=j render :partial => 'layouts/nav' %>');
<% else %>
  $('#reg_form').effect("bounce", 300);
<% end %>